.graphContainer {
    width: 90%;
    height: 100%;
    padding: 15px;
    border: 1px solid #DDEDF4;
    margin-top: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around
}

